.navbar{
    @apply w-screen flex shadow-lg justify-between bg-white p-1.5 fixed top-0 left-0
}

.profile-img{
    margin-left: 250px;
    margin-top: -50px;
    border: 5px solid white;
}

.dropdown {
  /* position: relative; */
  @apply relative
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  /* position: absolute; */
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 7px 7px;
  top: 20;
  /* z-index: 1; */
  @apply bg-gray-100 fixed z-20
}

.dropdown:hover .dropdown-content {
  display: block;
}

